  <div class="userProfileTitle">
    <h1>Welcome!!! {{user.username}} </h1>
    <h2>Your Public Profile</h2>
    
  </div>
  <div class = "userProfile">
    <form action="/users/profile" method="POST" id="profileform">
      {{#if edit}}
      <p> Name </p>
      <input type="text" id="name" name="name" value="{{user.name}}" />
      <p> Username </p>
      <input type="text" id="username" name="username" value="{{user.username}}" />
      <p> Email Address </p>
      <input type="text" id="email" name="email" value="{{user.email}}" disabled="disabled"/>
      <p>Family</p>
          {{#if isParent}}
          <label>child restrict level:</label>
              <select name="content_restrict" id="content_restrict">
                  <option value={{restrict_level}} selected disabled hidden>{{restrict_level}}</option>
                  <option value="1">1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                  <option value="4">4</option>
                  <option value="5">5</option>
              </select>
          {{/if}}
      <div>
        <h3>Parents</h3>
        {{#each parents}}
        <p>Name:</p>
        {{this.name}}
        <p>Email:</p>
        {{this.email}}
        {{/each}}
      </div>
      <div>
        <h3>Children</h3>
        {{#if children}}
        {{#each children}}
        <p>Name:</p>
        {{this.name}}
        <p>Email:</p>
        {{this.email}}
        {{/each}}
        {{else}}
        <p>None</p>
        {{/if}}

      </div>
      <div class="userProfileButton">
        <button type="submit" class="button" ><span>Submit</span> </button>
      </div>
      {{else}}
      <p> Name </p>
      <p>{{user.name}}<p>
      <p> Username </p>
      <p>{{user.username}}</p>
      <p> Email Address </p>
      <p>{{user.email}}</p>
      <h2>Family</h2>
          {{#if isParent}}
            <p>child content restrict:{{restrict_level}}</p>
          {{/if}}
      <div>
        <h3>Parents</h3>
        {{#each parents}}
        <p>Name:</p>
        {{this.name}}
        <p>Email:</p>
        {{this.email}}
        {{/each}}
      </div>
      <div>
        <h3>Children</h3>
        {{#if children}}
        {{#each children}}
        <p>Name:</p>
        {{this.name}}
        <p>Email:</p>
        {{this.email}}
        {{/each}}
        {{else}}
        <p>None</p>
        {{/if}}
      </div>
      <div class="userProfileButton">
        <button type="submit" class="button"><span>Edit Profile</span> </button>
      </div>
      {{/if}}

      <div>
        <a href="/users/logout">Log out</a>
      </div>
    </form>

    {{#if isParent}}
    <h2>Family Authentication History</h2>
     <table>
      <tr>
        <th>User</th>
        <th>Action</th>
        <th>Timestamp</th>
      </tr>
      {{#each history}}
      <tr>
        <td>{{this.[0]}}</td>
        <td>{{this.[1]}}</td>
        <td>{{this.[2]}}</td>
      </tr>
      {{/each}}
    </table> 
    {{/if}}
  </div>
  
<script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
      crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS"
      crossorigin="anonymous"></script>